---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="Websites for Flooring Companies | Web Design for Hardwood Floor, Tile, and Carpet Companies"
description="Our flooring company websites are almost guaranteed to rank higher in Google than your competitors because we don't use bulky wordpress templates.">
  <section class="lg:py-46 relative bg-tan py-36 dark:bg-stone-900 md:py-40">
    <h1 class="text-4xl text-center">Websites for Flooring Companies</h1>
  </section>
</BaseLayout>

