---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Websites for Flooring Companies | Web Design for Hardwood Floor, Tile, and Carpet Companies"
  description="Our flooring company websites are almost guaranteed to rank higher in Google than your competitors because we don't use bulky wordpress templates.">
  <article class="lg:py-46 relative bg-tan py-36 dark:bg-stone-900 md:py-40">
    <div
      class="max-w-3/4 container mx-auto space-y-4 px-4 text-center lg:px-48">
      <h1 class="text-4xl">Website Design for Flooring Companies</h1>
      <p class="text-xl">
        We build flooring websites from scratch, never using a bulky template.
        By hand-coding everything, your site will score perfect 100s across the
        board on metrics Google uses to rank your site.
      </p>
      <p class="text-xl">
        Simply put, our sites have better SEO and look better than your
        competitors.
      </p>
    </div>
  </article>
</BaseLayout>
