---
import { Icon } from "astro-icon/components";
---

<section class="lg:py-46 relative bg-white py-36 dark:bg-stone-800 md:py-40">
  <h2 class="mb-12 text-center text-4xl">
    Accelerate your growth<span class="text-primary">.</span>
  </h2>
  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-around lg:flex-row">
      <!-- start card    -->
      <div class="card">
        <h3>
          <Icon
            name="check-box-sharp"
            class="-ml-2 inline text-4xl text-primary"
          />Get better leads.
        </h3>
        <p>
          Get to the top of Google and get noticed on Google Maps. We do this
          with better websites, automatically getting 4 & 5 star reviews, and
          getting you listed on over 95 listing sites.
        </p>
      </div>
      <!-- end card -->
      <div><span class="slash"></span></div>
      <!-- start card    -->
      <div class="card">
        <h3>
          <Icon
            name="check-box-sharp"
            class="-ml-2 inline text-4xl text-primary"
          />Land more jobs.
        </h3>
        <p>
          Design builds trust in your customers. Prompt responses builds
          confidence in your flooring company. We can help you with both to
          become the top of mind company in your customers' minds.
        </p>
      </div>
      <!-- end card -->
      <div><span class="slash"></span></div>
      <!-- start card    -->
      <div class="card">
        <h3>
          <Icon
            name="check-box-sharp"
            class="-ml-2 inline text-4xl text-primary"
          />Repeat.
        </h3>
        <p>
          We provide unlimited ongoing edits and support to your website. You
          also gain access to us and our expertise as your very own CMO.
        </p>
      </div>
      <!-- end card -->
    </div>
  </div>
</section>

<style>
  .card {
    @apply p-8 lg:w-1/3;
  }
  .card h3 {
    @apply mb-4 inline text-2xl font-bold;
    display: flex;
    align-items: center;
  }
  .slash {
    @apply bg-tan;
    content: "";
    height: 20rem;
    width: 4px;
    display: block;
    transform: rotate(7deg) translate(-1rem);
  }
  @media (max-width: 1024px) {
    .card,
    .card h3 {
      text-align: center;
      display: block;
    }
    .slash {
      @apply bg-primary;
      height: 2px;
      width: 25%;
      margin: 0 auto;
      transform: unset;
    }
    svg.-ml-2 {
      margin-top: -4px;
    }
  }
</style>
