---
import { Icon } from "astro-icon/components";
---

<section class="p-4 sm:p-6 lg:p-12">
  <div class="container mx-auto bg-tan p-4 sm:p-6 lg:p-12">
    <h2 class="mb-12 text-center text-4xl">
      How we keep your flooring company busy<span class="text-primary">.</span>
    </h2>
    <h3 class="font-serif text-2xl italic text-primary">
      What’s the best way to acheive your flooring business outcomes? Create one
      cohesive strategy that speaks to specific audiences across channels.
    </h3>
    <div class="flex flex-wrap gap-8">
      <!-- card 1 -->
      <!-- end card 1 -->
      <a class="service bg-white"><h3>Website Design</h3></a>
      <a class="service bg-white"><h3>Website Design</h3></a>
      <a class="service bg-white"><h3>Website Design</h3></a>
      <a class="service bg-white"><h3>Website Design</h3></a>
      <a class="service bg-white"><h3>Website Design</h3></a>
    </div>
  </div>
</section>
