---
import { Icon } from "astro-icon/components";
---

<section class="bg-tan dark:bg-zinc-950 p-12 md:p-24 md:pt-32">
  <div class="mx-auto max-w-4xl bg-gray-900 p-12 text-white">
    <h3 class="mb-3">Amazing results</h3>
    <div class="flex">
      <p>
        These guys were fast, responsive, and were awesome to work with. I
        started getting new leads within weeks of launching and get tons of
        compliments on my new site.<br /><br />
        —Rick, Avalanche Hardwood Floors
      </p>
    </div>
    <div class="space-x- mx-auto flex">
      <Icon name="star" class="text-6xl text-secondary animate-pulse" />
      <Icon name="star" class="text-6xl text-secondary animate-pulse" />
      <Icon name="star" class="text-6xl text-secondary animate-pulse" />
      <Icon name="star" class="text-6xl text-secondary animate-pulse" />
      <Icon name="star" class="text-6xl text-secondary animate-pulse" />
    </div>
  </div>
</section>

<style>
.animate-pulse:nth-child(2) {
  animation-delay: 100ms;
}
.animate-pulse:nth-child(3) {
  animation-delay: 200ms;
}
.animate-pulse:nth-child(4) {
  animation-delay: 300ms;
}
.animate-pulse:nth-child(5) {
  animation-delay: 400ms;
}
</style>
