---

---

<section class="bg-secondary p-12 md:p-24">
  <h2 class="mb-12 text-center text-4xl">
    Own your local market<span class="text-primary">.</span>
  </h2>
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="mb-0 w-full bg-white p-12 md:-mb-24 md:w-1/2">
      <p class="mb-4 text-sm font-bold uppercase tracking-widest text-primary">
        Exclusivity
      </p>
      <h3 class="mb-6">We will only help you</h3>
      <p>
        We are committed to your success. If we’re helping you dominate your
        local flooring market, we won’t help any competitors in your city or
        area. There’s never a conflict of interest when working with us.
      </p>
      <a href="/contact" class="btn my-4 bg-stone-200 px-6 py-2"
        >Claim your market</a
      >
    </div>
    <div><p>nice</p></div>
  </div>
</section>
