---
import { Icon } from "astro-icon/components";
---

<section class="bg-tan p-12 md:p-24 md:pt-32">
  <div class="mx-auto max-w-4xl bg-slate-800 p-12 text-white">
    <h3 class="mb-3">Amazing results</h3>
    <div class="flex">
      <p>
        These guys were fast, responsive, and were awesome to work with. I
        started getting new leads within weeks of launching and get tons of
        compliments on my new site.<br /><br />
        —Rick, Avalanche Hardwood Floors
      </p>
    </div>
    <div class="space-x- mx-auto flex">
      <Icon name="star" class="text-6xl text-secondary" />
      <Icon name="star" class="text-6xl text-secondary" />
      <Icon name="star" class="text-6xl text-secondary" />
      <Icon name="star" class="text-6xl text-secondary" />
      <Icon name="star" class="text-6xl text-secondary" />
    </div>
  </div>
</section>
