---
// Components
import Button from "@components/ui/Button.astro";

// Content
import ul1 from "@assets/images/underline1.svg?raw";
import ul2 from "@assets/images/underline2.svg?raw";
---

<section class="lg:py-46 relative bg-tan py-36 dark:bg-stone-900 md:py-40">
  <div class="relative z-10">
    <div class="mx-auto flex w-5/6 flex-col lg:w-2/3 xl:w-1/2">
      <h1 class="mb-8 text-center text-6xl leading-snug max-sm:text-4xl">
        Effective Marketing for Flooring Companies
      </h1>
      <p class="mb-8 text-center text-2xl leading-relaxed">
        We help flooring companies just like yours <span
          class="relative inline-block"
          >book more estimates<span
            class="absolute -bottom-1 left-0 inline-block w-[15ch] pr-6"
            ><Fragment set:html={ul1} /></span
          ></span
        >
        and <span class="relative inline-block"
          >land more jobs.<span
            class="absolute bottom-0 left-0 inline-block w-[11ch] pr-6"
            ><Fragment set:html={ul2} /></span
          ></span
        >
      </p>
      <p class="text-center">
        <Button
          text="Book your free consultation"
          href="/contact?utm_source=hero-home"
          classes="btn-secondary"
        />
        <a href="/case-study" class="p-4 transition-colors hover:text-primary"
          >View Case Study</a
        >
      </p>
    </div>
  </div>
  <div
    class="stencil pointer-events-none absolute -bottom-0 z-0 overflow-hidden text-6xl font-extrabold text-tan dark:text-stone-900 md:text-8xl">
    <p class="-m-8 break-all" style="user-select: none;">
      Get more leads. Land more jobs. Repeat. Get more leads. Land more jobs.
      Repeat. Get more leads. Land more jobs. Repeat. Get more leads. Land more
      jobs. Repeat. Get more leads. Land more jobs. Repeat. Get more leads. Land
      more jobs. Repeat. Get more leads. Land more jobs. Repeat. Get more leads.
      Land more jobs. Repeat. Get more leads. Land more jobs. Repeat. Get more
      leads. Land more jobs.
    </p>
  </div>
  <div
    class="absolute top-0 z-0 h-full w-full bg-gradient-to-b from-tan to-transparent dark:from-stone-900">
  </div>
</section>
