---
import BaseLayout from "@layouts/BaseLayout.astro";

import CompanyCard from "@components/ui/CompanyCard.astro";
import { SITE_UTM_SOURCE } from "@src/consts";
---
<BaseLayout title="The Best Flooring Companies | Web Design for Hardwood Floor, Tile, and Carpet Companies"
description="We've created a list of the best flooring companies in the nation.">
  <section class="lg:py-46 relative bg-tan py-36 dark:bg-stone-900 md:py-40">
    <h1 class="text-4xl text-center">Trusted Flooring Companies Near Me</h1>
    <p></p>
<!-- <CompanyCard  title="Springs Hardwood" topper="Hardwood Floors" alt="Avalanche Hardwood Floors" href=`https://springshardwood.com/?utm-source=${SITE_UTM_SOURCE}` /> -->
  </section>
</BaseLayout>

