---
import BaseLayout from "@layouts/BaseLayout.astro";

import { LinkPreview } from "astro-embed";
import { SITE_UTM_SOURCE } from "@src/consts";
---

<BaseLayout
  title="Hardwood Floor Marketing Success Story | Web Design for Hardwood Flooring Companies"
  description="We built a website for a Hardwood Flooring company in less than a week that paid for itself in less than a month.">
  <main class="lg:py-46 bg-tan py-36 dark:bg-stone-900 md:py-40">
    <article class="container prose mx-auto">
      <h1 class="mb-8 text-center">
        Hardwood Flooring Company Website: A Success Story from Springs Hardwood
      </h1>

      <p>
        Springs Hardwood had no website when they came to use for help. We built
        them a website from scratch (no Wordpress or other bulky templates).
      </p><p>
        The results were amazing right away: within a month of launching their
        new site, they landed enough jobs to cover the entire project cost,
        including a year’s worth of hosting and service.
      </p><p>
        This case study explores how Springs Hardwood achieved such success,
        highlighting the role of effective web design and SEO.
      </p>

      <blockquote>
        Our phone hasn't stopped ringing since we launched the site.
      </blockquote>

      <h2 class="my-8 text-center">
        Visit the Avalanche Hardwood Floors Website
      </h2>
      <div class="container mx-auto flex justify-center">
        <LinkPreview
          id=`https://springshardwood.com/?utm-source=${SITE_UTM_SOURCE}`
        />
      </div>

      <h2>Hardwood Floor Website Design and Development</h2>
      <p>We designed the website with the following key features:</p>
      <ul>
        <li>
          <strong>Built from scratch:</strong> Every single one of their competitors
          uses a similar WordPress template. They all look the same. They all have
          poor performance and SEO. We designed this from the ground up and hand
          coded the entire site.
        </li>
        <li>
          <strong>Perfect 100s on SEO performance:</strong> Google Lighthouse is
          a tool that measures best practices, performance, SEO, and accessibility.
          It's one metric Google uses to rank your site.
        </li>
        <li>
          <strong>Clean, User-Friendly Design:</strong> The design builds homeowner
          trust before they even give them a call. They have landed a ton of qualified
          leads from the website alone.
        </li>
        <li>
          <strong>Mobile Optimization:</strong> Ensuring the site was fully responsive
          to cater to users on all devices. Most people search on their phone.
        </li>
        <li>
          <strong>Fast Loading Times:</strong> Optimizing images and using efficient
          coding practices to ensure quick load times, which is crucial for user
          experience and SEO.
        </li>
        <li>
          <strong>Unlimited edits:</strong> We provide unlimted ongoing edits to
          the website and local SEO listings included with our services.
        </li>
      </ul>

      <h2>Hardwood Flooring SEO Strategy</h2>
      <p>
        The SEO strategy played a huge role in the success of Springs Hardwood’s
        website. Key elements included:
      </p>
      <ul>
        <li>
          <strong>Keyword Research:</strong> Identifying relevant keywords that potential
          customers were searching for, such as "hardwood flooring installation,"
          "floor refinishing," and "flooring contractor."
        </li>
        <li>
          <strong>On-Page SEO:</strong> Implementing these keywords strategically
          across the site’s content, meta descriptions, and headers.
        </li>
        <li>
          <strong>Local SEO:</strong> Creating and optimizing a Google My Business
          profile and ensuring the site appeared in local search results for users
          searching for flooring services in the area.
        </li>
        <li>
          <strong>Technical SEO:</strong> The custom-built site meets the strictest
          standards Google uses to rank the page higher than their competitors.
        </li>
      </ul>

      <h2>Custom Review App</h2>
      <p>
        We built and provide a custom review app for all of our customers, <a
          href="https://reviewbooster.app">reviewbooster.app"</a
        >
      </p>
      <p>
        This lets them quickly and easily get reviews for Google, Yelp, or
        anything they want from their customers. It also prevents negative
        reviews and incentivizes word of mouth referrals from customers.
      </p>
      <h2>Results</h2>
      <p>The results were immediate and impressive:</p>
      <ul>
        <li>
          <strong>Increased Traffic:</strong> The website saw a significant increase
          in organic traffic from search engines. Many visitors filled out the information
          form, which means it's getting the right traffic from the right people.
        </li>
        <li>
          <strong>Qualified Leads:</strong> The site attracted numerous qualified
          leads within weeks of launching. These results usually take months, not
          weeks. Most of these calls and emails led to new jobs.
        </li>
        <li>
          <strong>Cost Efficiency:</strong> Thanks to landing new jobs, the investment
          in the website paid off within a month, covering the entire project cost
          and a year’s worth of hosting and service without spending on paid advertising.
        </li>
        <li>
          <strong>Client Satisfaction:</strong> Rick, the owner, was extatic with
          our service, quick project turnaround, and the high number of qualified
          leads we helped them get.
        </li>
      </ul>

      <h2>Conclusion</h2>
      <p>
        Rick doesn't have to worry about having a slow season or keeping his
        crew busy now. With the rapid increase in qualified jobs, Rick can focus
        more on booking estimates, scheduling out their calendar, and keepign
        his crew busy.
      </p>
      <p>
        Springs Hardwood’s success story shows the power of effective web design
        and SEO. For flooring contractors and professionals, a good design can
        be the difference betweeen failure and success.
      </p>

      <h2>Key Takeaways for Flooring Companies</h2>
      <ul>
        <li>
          <strong>Invest in Professional Web Design:</strong> A user-friendly, mobile-optimized,
          and fast-loading website is crucial for attracting and retaining visitors.
        </li>
        <li>
          <strong>Prioritize SEO:</strong> Effective SEO can drive organic traffic
          and generate qualified leads without the need for paid advertising.
        </li>
        <li>
          <strong>Focus on Local SEO:</strong> Optimizing for local search terms
          and maintaining an active Google My Business profile can significantly
          boost visibility in local markets.
        </li>
      </ul>
      <p>
        Springs Hardwood’s journey from having no web presence to achieving
        quick success serves as an inspiration for flooring professionals
        looking to grow their business through digital marketing.
      </p>
    </article>
  </main>
</BaseLayout>

<style is:global>
  .link-preview {
    --lp-corners: 0.75rem !important;
    @apply overflow-hidden rounded-xl bg-white pb-4 transition-all hover:shadow-2xl dark:bg-zinc-950 dark:text-white;
  }
  .link-preview .link-preview__domain {
    @apply pb-8 pt-4 text-center text-2xl font-bold;
  }
  .link-preview .link-preview__content {
    @apply px-4;
  }
  .link-preview__title {
    @apply pb-2 font-semibold;
  }
  .link-preview .link-preview__description {
    overflow: visible;
    display: inline;
  }
</style>
