---
// Layout
import BaseLayout from "@layouts/BaseLayout.astro";

// Content
import Form from "@components/ui/ContactForm.astro";
import { SITE_PHONE, SITE_PHONE_HREF } from "@src/consts";
import Icon from "node_modules/astro-icon/components/Icon.astro";
---

<BaseLayout title="Contact a Flooring Marketing Expert">
  <section class="bg-white pt-12 dark:bg-stone-900">
    <div class="mx-auto max-w-screen-md px-4 py-8 text-center lg:py-16">
      <h1
        class="my-8 text-6xl font-extrabold tracking-tight text-stone-900 dark:text-white">
        Contact Us
      </h1>
      <p class="mb-8 font-light text-stone-700 dark:text-stone-400 sm:text-xl">
        Got a question or proposal? We'd love to show you how we can help you
        land more jobs. Fill out the form or give us a call today.
      </p>
      <p class="mb-8 font-light text-stone-700 dark:text-stone-400 sm:text-xl">
        Want to have your new site built for <b>FREE</b>? We can show you how
        you can effectively get a new website (marketing machine) at no cost to
        you.
      </p>
      <a
        href={SITE_PHONE_HREF}
        class="font-primary block text-4xl font-bold text-primary-dark lg:mb-16"
        title="Click or tap to call">{SITE_PHONE}</a
      >
      <div class="inline">
        <!-- Calendly link widget begin -->
        <link
          href="https://assets.calendly.com/assets/external/widget.css"
          rel="stylesheet"
        />
        <script
          src="https://assets.calendly.com/assets/external/widget.js"
          type="text/javascript"
          async></script>
        <a
          href=""
          class="btn-primary mx-auto"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/floortrademarketing/30min?primary_color=ff5c42'});return false;"
          ><Icon
            name="material-symbols-light:calendar-add-on"
            size={32}
            class={"mr-4"}
          />Schedule a time on my calendar</a
        >
        <!-- Calendly link widget end -->
      </div>
    </div>
    <div class="mx-auto max-w-screen-md px-4 pb-16">
      <h2 class="mb-4">Fill out the form</h2>
      <p class="mb-12">
        If you have any questions or don't want to schedule an appointment, fill
        out the form and someone will get back to you ASAP.
      </p>
      <Form />
    </div>
  </section>
</BaseLayout>
