---
import BaseLayout from "@layouts/BaseLayout.astro";
import Services from "@components/content/HomeServices.astro";
---

<BaseLayout
  title="Flooring Company Marketing Services"
  description="Top-to-bottom marketing services for Flooring Contractors and Flooring Suppliers.">
  <div class="bg-white pt-24 dark:bg-stone-800">
    <h1>Flooring Company Marketing Services</h1>
    <Services />
  </div>
</BaseLayout>

<style>
  h1 {
    @apply my-12 text-center text-5xl;
  }
</style>
