@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::root { */
/*   --primary: oklch(84.48% 0.1928 81.38); */
/* } */

@layer base {
  ::root {
    --primary: oklch(84.48% 0.1928 81.38);
  }

  .bg-primary {
    background-color: #ff5c42;
    background-color: var(--primary);
  }

  h1,
  .h2 {
    @apply text-6xl;
  }

  h2,
  .h2 {
    @apply text-4xl;
  }

  h3,
  .h3 {
    @apply text-2xl;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-extrabold;
  }

  .topper {
    @apply mb-4 text-sm font-bold uppercase tracking-widest text-primary;
  }

  .stencil {
    text-shadow: -1px -1px 0 oklch(68.74% 0.2568 31.613 / 0.1), 1px -1px 0 oklch(68.74% 0.2568 31.61391320731642 / 0.1), -1px 1px 0 oklch(68.74% 0.2568 31.61391320731642 / 0.1), 1px 1px 0 oklch(68.74% 0.2568 31.61391320731642 / 0.1);
    @apply leading-none;
  }
}

@layer components {
  .btn {
    @apply inline-flex cursor-pointer items-center justify-center bg-transparent px-6 py-3.5 text-center font-bold leading-snug transition duration-200 ease-in hover:border-gray-600 hover:bg-stone-100 focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-red-200 md:px-8;
  }

  .btn-primary {
    @apply btn text-white dark:text-black hover:bg-red-600 hover:text-white bg-primary;
  }

  .btn-secondary {
    @apply btn bg-secondary dark:text-stone-800;
  }

  .btn-tertiary {
    @apply btn text-muted border-none shadow-none hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}
