---
import BaseHead from "@components/site/BaseHead.astro";
import Header from "@components/site/Header.astro";
import Footer from "@components/site/Footer.astro";
import Chat from "@components/site/ChatWidget.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts";

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-primary">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="bg-gray-800 text-stone-800 transition-colors dark:bg-stone-900 dark:text-white">
    <a href="#main-content" class="sr-only focus:not-sr-only active:not-sr-only"
      >Skip to content</a
    >
    <Header />
    <main id="main-content">
      <slot>
        <h1>Under construction</h1>
        <p>No content found just yet...</p>
      </slot>
    </main>
    <Footer />
    <Chat />
  </body>
</html>
