---
import { Icon } from "astro-icon/components";

// Component props
interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href, ...rest } = Astro.props as Props;
---

<a class="service" href={href}
  ><h3>{title}</h3>
  <p>{description}</p>
  <p class="mt-auto">
    <!-- <span class="learn-more-flex" -->
    <!--   ><span class="learn-more">we can help</span><Icon -->
    <!--     name="arrow-right" -->
    <!--     class="icon" -->
    <!--     {...rest} -->
    <!--   /></span -->
    <!-- > -->
  </p>
</a>

<style>
  .service {
    flex: 1 1 31%;
    cursor: pointer;
    @apply flex flex-grow flex-col bg-white p-12 transition-colors duration-300 dark:bg-neutral-900 max-sm:flex-auto;
  }
  .service h3 {
    @apply mb-4 font-bold transition-colors;
  }
  .learn-more {
    @apply relative inline-block w-0 overflow-hidden whitespace-nowrap text-sm font-bold uppercase transition-all duration-300;
  }
  .learn-more-flex {
    @apply mt-6 flex items-center;
  }
  .service:hover {
    @apply bg-orange-50 dark:bg-slate-900;
  }
  .service:hover .learn-more {
    @apply w-3/4;
  }
  .service:hover h3 {
    @apply text-primary;
  }
  .service:hover .icon {
    @apply text-primary-dark;
  }
  .icon {
    @apply inline text-2xl;
  }
</style>
